.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.messageBox {
  margin: 2rem auto;
  padding: 0.5rem 0rem;
  width: 50vw;
  max-width: 28rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.errorMessage {
  color: rgb(196, 36, 36);
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
